<mat-sidenav-container id="main-container">
    <mat-sidenav #sidenav="matSidenav">
        <div class="logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a7/Wikipedia_logo_v3.svg" width="150px"
                height="150px" />
        </div>
        <hr id="logo-button-divider">
        <input type="text" class="title" matInput [(ngModel)]="searchArticleTitle">
        <li class="page-list" *ngFor="let page of pages|searchArticle:searchArticleTitle:'title';let i = index">
            <button class="main-page-button" [ngClass]="i == selectedPage? 'active' : ''"
                (click)="buttonClick(page.title)">
                {{page.title}}
            </button>
        </li>
    </mat-sidenav>
    <mat-sidenav-container>
        <div class="headLine">
            <p id="headline-text">
                {{pages[selectedPage].title | uppercase}}
            </p>
            <button id="menu" mat-icon-button *ngIf="sidenav.mode == 'over'" (click)="sidenav.toggle()">
                <mat-icon *ngIf="!sidenav.opened">
                    menu
                </mat-icon>
                <mat-icon *ngIf="sidenav.opened">
                    close
                </mat-icon>
            </button>
        </div>
        <hr>
        <div class="artical">
            <p *ngIf="selectedPage!=1">{{pages[selectedPage].body}}</p>
        </div>
        <div *ngIf="selectedPage == 1">
            <app-new-article></app-new-article>
        </div>
    </mat-sidenav-container>
</mat-sidenav-container>